html,body {color: #3f444c !important;}
.topMenu {background:#313338  !important;}
.fontCorlor {color: #3f444c !important;}
.lineColor{color: #6f8fb7 !important;}
.slideLeft {background: #e6e7e8 !important;}
.open{background: #dfe0e2 !important;}